@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@1,200&display=swap');
/* @font-face {
    font-family: 'Poppins', sans-serif;
    src: url('./');
} */
.card{
    width: 200px;
}
.dropdown-item:hover{
    background-color: pink;
}
/* #primerCarousel{
    width: 80vw;
} */
.bi-pin-angle-fill{
    font-size: 40px;
    color: #f90;
}
p{
    font-family: 'Poppins', sans-serif;
}