.form-check-input:checked{
    background-color: #ff006a;
}
#Apellido{
    border: 2px dotted #F90;
}
.btn-info{
    background-color: #184747;
    color: whitesmoke;
}
.btn-info:hover{
    background-color:pink;
}
form{
    height: 500px;
}
.gap{
    gap: 20px;
}